name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - 'examples/**'

  pull_request:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - 'examples/**'

jobs:

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.21'
          check-latest: true


      - name: Build
        run: go build -v terraform-provider-virtualbox/...

      - name: Run go vet
        run: go vet terraform-provider-virtualbox/...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run staticcheck
        run: staticcheck terraform-provider-virtualbox/...

      - name: Install golint
        run: go install golang.org/x/lint/golint@latest

      - name: Run golint
        run: golint terraform-provider-virtualbox/...

      - name: Run tests
        run: go test -race -vet=off terraform-provider-virtualbox/...